.scoreboard {
  font-size: 1.5rem;
  padding-bottom: 1.2rem;
  display: flex;
  gap: 2rem;
  color: #0a1f34;
}

.scoreboard h2 {
  margin: 0;
  padding: 0;
}

.card-grid__wrapper {
  padding: 1rem 7rem;
}

.card-grid {
  /* display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px; */
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card-img {
  width: 100%;
  height: auto;
  /* width: auto; */
  /* height: 16rem; */
  border: solid 3px black;
  /* border-radius: 3px; */
}

.card__wrapper {
  width: calc(9rem + 6px);
  height: 16.7rem;
  /* padding-bottom: */
  perspective: 800px;
  /* border-radius: 3px; */
}

.card__wrapper:hover > .card {
  cursor: pointer;
  /* filter: brightness(125%); */
  /* transform: scale(1.05); */
}

.card__wrapper.flipped > .card {
  transform: rotateY(180deg);
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 500ms ease-in-out;
  transform-style: preserve-3d;
  /* border-radius: 3px; */
}

.front,
.back {
  height: 100%;
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  /* border-radius: 3px; */
}

.back {
  border: solid 3px black;
  background-color: #030b13;
  transform: rotateY(180deg);
  background-image: url(/src/assets/card-back.jpg);
  background-size: cover;
  background-position: center;
}

.invisible {
  display: none;
}
