@font-face {
  font-family: "BeaufortForLoL";
  src: url(../assets/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

.header-title {
  font-family: "BeaufortForLoL", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 800;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.header-title > img {
  height: 5rem;
  width: auto;
  margin-right: -5px;
}
