@font-face {
  font-family: "BeaufortForLoL";
  src: url(../assets/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

.header-title {
  font-family: "BeaufortForLoL", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 800;
  font-size: 1rem;
  display: flex;
  align-items: center;
  color: #0a1f34;
}

.header-title > img {
  height: 5rem;
  width: auto;
  margin-right: -6px;
  margin-left: auto;
}

.header-title > h1 {
  padding: 0;
  margin: 0;
  margin-right: auto;
}
