@font-face {
  font-family: "BeaufortForLoL";
  src: url(../assets/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
}

.start-screen__container {
  --background-color: #030b13;
  --font-color: #f0e6d2;
  font-family: "BeaufortForLoL", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  height: 38rem;
  width: 80rem;
  background-color: var(--background-color);
  color: var(--font-color);
  border: groove 5px #785a28;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 2rem 0rem;
}

.start-screen__container .header-title {
  border-bottom: solid #5b5a56 1px;
  width: 100%;
  padding-bottom: 2rem;
}

.game-info__wrapper {
  display: flex;
  gap: 5rem;
}

.difficulty-selection__container {
  /* border: solid #5b5a56 1px; */
}

.difficulties__container {
  font-size: 1.2rem;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.difficulties__container button {
  background-color: var(--background-color);
  color: var(--font-color);
  border: none;
  height: 2rem;
  width: fit-content;
  padding: 0rem 3rem;
  /* display: flex; */
}

.difficulties__container button:hover {
  outline: solid 1px #0ac8b9;
}

.difficulties__container button:focus {
  outline: solid 2px #c8aa6e;
}

.start-btn {
  background-color: #1e2328;
  color: #f0e6d2;
  font-size: 1.5rem;
  border-color: #0ac8b9;
  width: 10rem;
}

.rank-display__container {
  padding: 2rem;
  border: solid #5b5a56 1px;
  /* align-self: flex-start; */
}

.rank-display__container h2 {
  border-bottom: solid #5b5a56 1px;
  padding-bottom: 1rem;
}

.rank-image {
  height: 12rem;
}
